@import "../../css/main";

.questionnaire-list-item {
    background: $white;
    border-bottom: 5px solid transparent;
    box-shadow: 0 5px 5px $shadow-color;
    color: $text-dark;
    display: flex;
    height: 150px;
    margin: 30px 0 30px 0;
    width: 900px;
    
    &:hover {
        border-bottom: 5px solid $green;
    }
    
    &.answerable:hover {
        cursor: pointer;
    }
    
    .left {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        justify-content: space-evenly;
        max-width: 500px;
        min-width: 400px;
        padding: 10px;
        width: fit-content;
        
        .title {
            color: black;
            font-size: 30px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
    .responses {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        width: 100%;
        
        & > div {
            align-items: center;
            display: flex;
            font-size: 25px;
            font-weight: bold;
            
            & > span {
                color: $green;
                font-size: 40px;
            }
        }
    }
    
    .options {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        width: 100%;
        
        & > div {
            font-size: 30px;
            height: 40px;
            margin: 0 5px 0 5px;
            text-align: center;
            width: 60px;
            position: relative;
            
            & > span {
                display: block;
                font-size: 12px;
            }

            &.active {
                color: $green;
                
                &:hover {
                    color: $green-hover;
                }
            }
            
            &:hover {
                cursor: pointer;
                color: $green;
                
                & > span {
                    color: $green;
                }
            }
        }
    }
}

.questionnaire-reported-notification {
    background: $text-dark;
    border-left: 5px solid $green;
    bottom: 50px;
    color: $white;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    transition: opacity .5s linear;
    right: 0;
    width: 300px;
    
    &.visible {
        opacity: 1;
    }
    
    &.hidden {
        opacity: 0;
    }
}
