<div class="questionnaire-list-item" *ngIf="canEdit" (mouseenter)="isMouseOver = true" (mouseleave)="isMouseOver = false">
    <div class="left">
        <div class="title">{{ questionnaire.title }}</div>
        <div>
            <strong>Created:</strong> {{ questionnaire.createdAt }} <!-- • -->
        </div>
        <div>
            <strong>Last Modified</strong>: {{ questionnaire.updatedAt }}
        </div>
        
        <div *ngIf="questionnaire.expiryDate != null">
            <strong>Expires At:</strong> {{ questionnaire.expiryDate }}
        </div>
    </div>
    <div *ngIf="!isMouseOver" class="responses">
        <div>
            Responses:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ questionnaire.responses }}</span>
        </div>
    </div>
    <div *ngIf="isMouseOver" class="options">
        <div class="edit-questionnaire" (click)="editQuestionnaire()">
            <fa-icon [icon]="icons.edit"></fa-icon>
            <span>Edit</span>
        </div>
        <div>
            <fa-icon [icon]="icons.responses"></fa-icon>
            <span>Responses</span>
        </div>
        <div>
            <fa-icon [icon]="icons.send"></fa-icon>
            <span>Send</span>
        </div>
        <div class="mark-questionnaire-as-public" (click)="toggleQuestionnaireVisibility()">
            <fa-icon [icon]="questionnaire.isPublic ? icons.private : icons.public"></fa-icon>
            <span>{{ questionnaire.isPublic ? "Make Private" : "Make Public" }}</span>
        </div>
        <div class="complete-questionnaire {{ questionnaire.isComplete ? 'active' : '' }}" (click)="toggleQuestionnaireCompleteness()"> 
            <fa-icon [icon]="icons.complete"></fa-icon>
            <span>{{ questionnaire.isComplete ? "Mark Incomplete" : "Mark Complete" }}</span>
        </div>
        <div class="delete-questionnaire" (click)="delete()">
            <fa-icon [icon]="icons.delete"></fa-icon>
            <span>Delete</span>
        </div>
    </div>
</div>

<div class="questionnaire-list-item answerable" *ngIf="!canEdit">
    <div class="left">
        <div class="title">{{ questionnaire.title }}</div> <!-- • -->
        <div>
            <strong>Category:</strong> {{ category }}
        </div>
        <div>
            <strong>Created:</strong> {{ questionnaire.createdAt }}
        </div>
    </div>
    <div class="options">
        <div class="delete-questionnaire">
            <fa-icon [icon]="icons.report"></fa-icon>
            <span>Report</span>
        </div>
    </div>
</div>
