<app-loading *ngIf="loading"></app-loading>

<app-top-bar *ngIf="!loading" [title]="title" [hasBackButton]="true">
    <div class="top-bar-center">
        <app-search-bar (onSearch)="searchQuery = $event;"></app-search-bar>
    </div>
    <div class="top-bar-right">
        <button class="button normal white"><a routerLink="/login">Log In</a></button>
        <button class="button inverse white"><a routerLink="/sign-up">Sign Up</a></button>
    </div>
</app-top-bar>

<aside *ngIf="!loading">
    <div id="order-toggle">
        Ascending: &nbsp; &nbsp; <app-toggle-switch [state]="true" (onChange)="ascending = $event"></app-toggle-switch>
    </div>
    <div>
        Sort
    </div>
    <label class="app-radio-container">
        A-Z
        <input type="radio" name="sort" [checked]="currentSort === sortTypes.AZ" (click)="currentSort = sortTypes.AZ">
        <span class="check"></span>
    </label>
    <label class="app-radio-container">
        Category
        <input type="radio" name="sort" [checked]="currentSort === sortTypes.CATEGORY" (click)="currentSort = sortTypes.CATEGORY">
        <span class="check"></span>
    </label>
    <label class="app-radio-container">
        Date Created
        <input type="radio" name="sort" [checked]="currentSort === sortTypes.DATE_CREATED" (click)="currentSort = sortTypes.DATE_CREATED">
        <span class="check"></span>
    </label>
</aside>

<div *ngIf="!loading" id="public-questionnaires-page-center">
    <div *ngIf="questionnaires.length == 0" id="no-questionnaires">No Public Questionnaires</div>
    <app-questionnaire-list-item
        *ngFor="let question of getQuestionnaires()" 
        [questionnaire]="question" 
        [category]="getCategory(question.categoryId)"
        [canEdit]="false"
        (click)="showQuestionnairePopup(question)"
    ></app-questionnaire-list-item>
</div>

<app-popup [show]="showPopupQuestionnaire" (close)="showPopupQuestionnaire = false;">
    <div id="questionnaire-popup">
        <div id="title">
            {{ popupQuestionnaire.title }}
            <div id="bar"></div>
        </div>
        <p id="description">{{ popupQuestionnaire.description }}</p>
        
        <button class="button normal green large" (click)="showQuestionnaire()">Take Questionnaire</button>
        <button class="button normal red large" (click)="showPopupQuestionnaire = false;">Cancel</button>
    </div>
</app-popup>
