@import "../../css/main";

.overlay {
    background: rgba(black, 0.5);
    
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.close-btn {
    color: $red;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: -32px;
    top: -42px;
    
    &:hover {
        color: $red-hover;
    }
}

.popup {
    @include center;
    
    box-shadow: 0 5px 5px $shadow-color;
    bottom: 0;
    height: fit-content;
    position: absolute;
    top: 0;
    width: fit-content;
}
