@import "../../css/main";
@import "../../css/controls";

#login-page-center {
    @include vertical-center(450px - 70px);

    align-items: center;
    display: flex;
    height: 450px;
    text-align: center;
    min-width: 500px;
    width: calc(40%);
    
    #server-error {
        @include center;
        
        background: rgba($red, .3);
        border: 1px solid rgba($red, .5);
        color: $red;
        font-size: 20px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        position: absolute;
        top: 25px;
        width: 75%;
    }
    
    #login {
        @include center;
        
        height: fit-content;
        width: fit-content;
        
        & > .app-input-container {
            #password-matching-icon {
                @include vertical-center(25px);
                
                font-size: 20px;
                position: absolute;
                right: 10px;
                
                .match {
                    color: $green;
                }
                
                .no-match {
                    color: $red;
                }
            }
        }
    }
    
    #forgotten-password {
        @include center;
        
        bottom: 50px;
        font-weight: bold;
        position: absolute;
        width: fit-content;
    }
}
