@import "../../../css/main";
@import "../../../css/controls";

.account-form-title {
    margin-top: 100px;
}

#forgotten-password-page-center {
    @include vertical-center(350px - 70px);

    align-items: center;
    display: flex;
    height: 350px;
    text-align: center;
    min-width: 500px;
    width: calc(30%);

    #server-error {
        @include center;

        background: rgba($red, .3);
        border: 1px solid rgba($red, .5);
        color: $red;
        font-size: 20px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        position: absolute;
        top: 25px;
        width: 75%;
    }

    #email-sent {
        @include center;

        background: rgba($green, .3);
        border: 1px solid rgba($green, .5);
        color: $green;
        font-size: 20px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        position: absolute;
        top: 25px;
        width: 75%;
    }

    #forgotten-password {
        @include center;

        height: fit-content;
        width: fit-content;
    }
}
