<app-top-bar [title]="title" [titleLink]="'/'" [hasBackButton]="true">
    <div class="top-bar-right">
        <button class="button inverse white"><a routerLink="/sign-up">Sign Up</a></button>
    </div>
</app-top-bar>

<div class="account-form-title">
    Forgotten Password
    <div class="bar"></div>
</div>

<div id="forgotten-password-page-center" class="centre-box">
    <div *ngIf="isServerError" id="server-error">
        {{ serverErrorMessage }}
    </div>
    <div *ngIf="linkSent" id="email-sent">
        Email sent
    </div>

    <form id="forgotten-password" [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()" #forgottenPassword="ngForm">
        <div class="app-input-container">
            <label class="app-input-label-icon {{ emailInput.invalid && forgottenPassword.submitted ? 'error' : ''}}">
                <fa-icon [icon]="icons.email"></fa-icon>
            </label>
            <input
                class="app-input {{ emailInput.invalid && forgottenPassword.submitted ? 'error' : ''}}"
                name="email"
                formControlName="email"
                type="text"
                placeholder="Email"
            >
        </div>

        <div class="app-input-error" *ngIf="emailInput.invalid && forgottenPassword.submitted">
            <ul>
                <li *ngIf="emailInput.hasError('required')">Email is required</li>
            </ul>
        </div>

        <input class="button normal green large" type="submit" value="Send Link">
    </form>
</div>
