<app-loading *ngIf="loading"></app-loading>

<app-top-bar *ngIf="!loading" [title]="title" [titleLink]="'/'" [hasBackButton]="false">
    <div class="top-bar-right">
        <button class="button inverse white"><a routerLink="/sign-up">Sign Up</a></button>
    </div>
</app-top-bar>

<div *ngIf="!loading" class="account-form-title">
    Reset Password
    <div class="bar"></div>
</div>

<div *ngIf="!loading" id="reset-password-page-center" class="centre-box">
    <div *ngIf="isServerError" id="server-error">
        {{ serverErrorMessage }}
    </div>

    <form id="reset-password" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" #resetPassword="ngForm">
        <div class="app-input-container">
            <label class="app-input-label-icon {{ newPasswordInput.invalid && resetPassword.submitted ? 'error' : ''}}">
                <fa-icon [icon]="icons.password"></fa-icon>
            </label>
            <input
                class="app-input {{ newPasswordInput.invalid && resetPassword.submitted ? 'error' : ''}}"
                name="newPassword"
                formControlName="newPassword"
                type="password"
                placeholder="New Password"
            >
        </div>

        <div class="app-input-error" *ngIf="newPasswordInput.invalid && resetPassword.submitted">
            <ul>
                <li *ngIf="newPasswordInput.hasError('required')">New email is required</li>
            </ul>
        </div>

        <div class="app-input-container">
            <label class="app-input-label-icon {{ confirmPasswordInput.invalid && resetPassword.submitted ? 'error' : ''}}">
                <fa-icon [icon]="icons.password"></fa-icon>
            </label>
            <input
                class="app-input {{ confirmPasswordInput.invalid && resetPassword.submitted ? 'error' : ''}}"
                name="confirmPassword"
                formControlName="confirmPassword"
                type="password"
                placeholder="Confirm Password"
            >

            <div *ngIf="showPasswordMatchingIcon()" id="password-matching-icon">
                <fa-icon *ngIf="doPasswordsMatch()" [icon]="icons.passwordMatch" class="match"></fa-icon>
                <fa-icon *ngIf="!doPasswordsMatch()" [icon]="icons.passwordNoMatch" class="no-match"></fa-icon>
            </div>

        </div>
        <div class="app-input-error" *ngIf="(confirmPasswordInput.invalid || passwordMatchingError) && resetPassword.submitted">
            <ul>
                <li *ngIf="confirmPasswordInput.hasError('required')">Confirm password is required</li>
                <li *ngIf="passwordMatchingError">Passwords do not match</li>
            </ul>
        </div>

        <input class="button normal green large" type="submit" value="Reset Password">
    </form>
</div>
