@import "main";

.app-input-container {
    border-radius: 7px;
    height: 50px;
    margin: 30px 0 30px 0;
    position: relative;
    width: 300px;

    &:first-child {
        margin-top: 0;
    }
    
    .app-input-label-icon {
        background: $green;
        border-radius: 7px;
        box-sizing: border-box;
        color: $white;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        padding-top: 3px;
        position: absolute;
        text-align: center;
        width: 50px;
        
        &.error {
            background: $red;
        }
        
        &.disabled {
            background: $text-light;
        }
    }
    
    .app-input {
        background: $dark-white;
        border: none;
        border-radius: 7px;
        box-sizing: border-box;
        font-size: 16px;
        height: 50px;
        padding-left: 55px;
        width: 300px;

        &[type=date]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            display: none;
        }

        &[type=date]::-webkit-calendar-picker-indicator {
            color: $green;
        }
        
        &:focus {
            outline: none;
        }
        
        &:disabled {
            color: $text-dark !important;
        }
        
        &.error {
            border: 1px solid $red;
        }
    }
}

.app-input-error {
    color: $red;
    font-size: 12px;
    margin: -15px 0 -15px 0;
    text-align: left;
    
    &:last-of-type {
        margin-bottom: 0;
    }
}

.app-textarea {
    background: $white-hover;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    height: 200px;
    padding: 10px;
    width: 630px;
    
    &:focus {
        outline: none;
    }
}
