@import "main";

.app-input-container {
    height: 50px;
    margin: 30px 0 30px 0;
    position: relative;
    width: 300px;

    &:first-child {
        margin-top: 0;
    }
    
    .app-input-label-icon {
        background: $green;
        border-radius: 7px;
        box-sizing: border-box;
        color: $white;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        padding-top: 3px;
        position: absolute;
        width: 50px;
        
        &.error {
            background: $red;
        }
    }
    
    .app-input {
        background: $dark-white;
        border: none;
        border-radius: 7px;
        box-sizing: border-box;
        font-size: 16px;
        height: 50px;
        padding-left: 55px;
        width: 300px;
        
        &:focus {
            outline: none;
        }
    }
}

.app-input-error {
    color: $red;
    font-size: 12px;
    margin: -15px 0 -15px 0;
    text-align: left;
    
    &:last-of-type {
        margin-bottom: 0;
    }
}
