<app-top-bar [hasBackButton]="false" [title]="title">
    <div class="top-bar-right">
        <button class="button normal white"><a routerLink="/login">Log In</a></button>
    </div>
</app-top-bar>

<div id="landing-page-center" class="centre-box">
    <div>Thank you for taking this questionnaire!</div>

    <div>
        <button class="button normal green">
            <a routerLink="/sign-up">Sign Up</a>
        </button>
        <button class="button normal yellow">
            <a routerLink="/public/questionnaires">Find More</a>
        </button>
    </div>
</div>

