@import url("https://fonts.googleapis.com/css?family=Nunito");
::-webkit-scrollbar {
  background: #b6b6b6;
  border-radius: 10px;
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-corner {
  background: #FFF; }

::-webkit-scrollbar-thumb {
  background: #9F9F9F;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #888888; }

* {
  font-family: 'Nunito', sans-serif; }

a {
  color: #FFF;
  text-decoration: none; }

a.classic {
  color: #007FAA !important;
  cursor: pointer;
  text-decoration: underline !important; }

.centre-box {
  left: 0;
  margin: auto;
  right: 0;
  background: #FFF;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); }

.button {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  min-height: 40px;
  min-width: 100px;
  outline: none; }
  .button:disabled {
    cursor: not-allowed; }
  .button.medium {
    height: 50px;
    width: 200px; }
  .button.large {
    height: 50px;
    width: 300px; }
  .button.tall {
    font-size: 20px;
    height: 75px; }
  .button.inverse.green {
    background: none;
    border: 2px solid #16D36B;
    color: #16D36B; }
    .button.inverse.green > a {
      color: #16D36B; }
    .button.inverse.green:not(.button.inverse.green:disabled):hover {
      border-color: #13BD60;
      color: #13BD60; }
  .button.inverse.yellow {
    background: none;
    border: 2px solid #E5D200;
    color: #E5D200; }
    .button.inverse.yellow > a {
      color: #E5D200; }
    .button.inverse.yellow:not(.button.inverse.yellow:disabled):hover {
      border-color: #CEBD00;
      color: #CEBD00; }
  .button.inverse.white {
    background: none;
    border: 2px solid #FFF;
    color: #FFF; }
    .button.inverse.white:not(.button.inverse.white:disabled):hover {
      border-color: #F2F2F2;
      color: #F2F2F2; }
  .button.inverse.red {
    background: none;
    border: 2px solid #D9534F;
    color: #D9534F; }
    .button.inverse.red > a {
      color: #D9534F; }
    .button.inverse.red:not(.button.inverse.red:disabled):hover {
      border-color: #C34A47;
      color: #C34A47; }
  .button.normal.green {
    background: #16D36B;
    color: #FFF; }
    .button.normal.green:not(.button.normal.green:disabled):hover {
      background: #13BD60; }
  .button.normal.yellow {
    background: #E5D200;
    color: #FFF; }
    .button.normal.yellow:not(.button.normal.yellow:disabled):hover {
      background: #CEBD00; }
  .button.normal.white {
    background: #FFF;
    color: #16D36B; }
    .button.normal.white > a {
      color: #16D36B; }
    .button.normal.white:not(.button.normal.white:disabled):hover {
      background: #F2F2F2; }
  .button.normal.red {
    background: #D9534F;
    color: #FFF; }
    .button.normal.red:not(.button.normal.red:disabled):hover {
      background: #C34A47; }

.top-bar-title {
  font-size: 26px;
  font-style: italic;
  font-weight: bold; }

.top-bar-right {
  margin-right: 15px; }
  .top-bar-right > button:first-child {
    margin-right: 15px; }

.account-form-title {
  left: 0;
  margin: auto;
  right: 0;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  width: fit-content; }
  .account-form-title .bar {
    left: 0;
    margin: auto;
    right: 0;
    background: #16D36B;
    border-radius: 25px;
    height: 5px;
    width: 90px; }

.popup-form-title {
  left: 0;
  margin: auto;
  right: 0;
  color: #707070;
  font-size: 30px;
  font-weight: bold;
  height: 40px;
  padding-top: 15px;
  width: fit-content; }

#landing-page-center {
  position: absolute;
  top: calc(50% - 200px);
  height: 400px;
  line-height: 200px;
  text-align: center;
  width: calc(100% - 620px); }
  #landing-page-center > div {
    color: #707070;
    font-size: 50px; }
  #landing-page-center > button {
    font-size: 25px;
    height: 60px;
    width: 300px;
    margin: 15px; }

/*# sourceMappingURL=landing.component.css.map */
