<app-loading *ngIf="loading.user || loading.questionnaire"></app-loading>

<app-top-bar *ngIf="!loading.user && !loading.questionnaire" [title]="'Edit Questionnaire'" [hasBackButton]="true">
    <div class="top-bar-center">
        <span id="title">
            {{ data.questionnaire.title }} 
            &nbsp;
            <fa-icon [id]="'edit-questionnaire'" [icon]="icons.edit" (click)="showEditQuestionnairePopup = true;"></fa-icon>
        </span>
    </div>
    <div class="top-bar-right">
        <button class="button normal white"><fa-icon [icon]="icons.send"></fa-icon>&nbsp;Send</button>
        <button class="button inverse white"><fa-icon [icon]="icons.preview"></fa-icon>&nbsp;Preview</button>
        <span style="color: white; cursor: pointer; margin-left: 15px;">
            {{ data.user.email }} &nbsp;
            <fa-icon [icon]="icons.downCaret"></fa-icon>
        </span>
    </div>
</app-top-bar>

<aside *ngIf="!loading.user && !loading.questionnaire" id="question-list">
    <div id="question-list-title">Question Types</div>
    
    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.multipleChoice"></fa-icon></span>
        &nbsp;
        <span>Multiple Choice</span>
    </div>
    
    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.checkBox"></fa-icon></span>
        &nbsp;
        <span>Check Boxes</span>
    </div>

    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.dropDown"></fa-icon></span>
        &nbsp;
        <span>Drop Down</span>
    </div>

    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.singleLine"></fa-icon></span>
        &nbsp;
        <span>Single Line</span>
    </div>

    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.paragraph"></fa-icon></span>
        &nbsp;
        <span>Paragraph</span>
    </div>

    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.starRating"></fa-icon></span>
        &nbsp;
        <span>Star</span>
    </div>

    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.sliders"></fa-icon></span>
        &nbsp;
        <span>Slider</span>
    </div>

    <div class="question-list-question">
        <span><fa-icon [icon]="icons.questionTypes.sliders"></fa-icon></span>
        &nbsp;
        <span>Scale</span>
    </div>
    
    <div id="delete-questionnaire">
        <fa-icon [icon]="icons.delete"></fa-icon>&nbsp; Delete Questionnaire
    </div>
</aside>

<app-popup *ngIf="!loading.user && !loading.questionnaire" [show]="showEditQuestionnairePopup" (close)="showEditQuestionnairePopup = false;">
    <app-create-questionnaire-form [questionnaire]="data.questionnaire" (onCreate)="getQuestionnaire()"></app-create-questionnaire-form>
</app-popup>
