<app-loading *ngIf="loading.user || loading.questionnaire || loading.questions"></app-loading>

<app-top-bar *ngIf="!loading.user && !loading.questionnaire && !loading.questions" [title]="title" [hasBackButton]="true">
    <div class="top-bar-center">
        <span id="title">
            {{ data.questionnaire.title }} 
            &nbsp;
            <fa-icon [id]="'edit-questionnaire'" [icon]="icons.edit" (click)="showEditQuestionnairePopup = true;"></fa-icon>
        </span>
    </div>
    <div class="top-bar-right">
        <button class="button normal white" (click)="showSendQuestionnairePopup = true;"><fa-icon [icon]="icons.send"></fa-icon>&nbsp;Send</button>
        <button class="button inverse white"><a routerLink="/edit/{{ data.questionnaire.id }}/preview"><fa-icon [icon]="icons.preview"></fa-icon>&nbsp;Preview</a></button>
        <span style="color: white; cursor: pointer; margin-left: 15px;">
            {{ data.user.email }} &nbsp;
            <fa-icon [icon]="icons.downCaret"></fa-icon>
        </span>
    </div>
</app-top-bar>

<aside *ngIf="!loading.user && !loading.questionnaire && !loading.questions" id="question-list">
    <div id="question-list-title">Question Types</div>
    
    <div class="question-list-question" id="add-multiple-choice-question" (click)="addQuestion('closed', 'radio')">
        <span><fa-icon [icon]="icons.questionTypes.multipleChoice"></fa-icon></span>
        &nbsp;
        <span>Multiple Choice</span>
    </div>
    
    <div class="question-list-question" id="add-check-box-question" (click)="addQuestion('closed', 'check')">
        <span><fa-icon [icon]="icons.questionTypes.checkBox"></fa-icon></span>
        &nbsp;
        <span>Check Boxes</span>
    </div>

    <div class="question-list-question" id="add-drop-down-question" (click)="addQuestion('closed', 'drop_down')">
        <span><fa-icon [icon]="icons.questionTypes.dropDown"></fa-icon></span>
        &nbsp;
        <span>Drop Down</span>
    </div>

    <div class="question-list-question" id="add-single-line-question" (click)="addQuestion('open', 'short')">
        <span><fa-icon [icon]="icons.questionTypes.singleLine"></fa-icon></span>
        &nbsp;
        <span>Single Line</span>
    </div>

    <div class="question-list-question" id="add-paragraph-question" (click)="addQuestion('open', 'long')">
        <span><fa-icon [icon]="icons.questionTypes.paragraph"></fa-icon></span>
        &nbsp;
        <span>Paragraph</span>
    </div>

    <div class="question-list-question" id="add-star-rating-question" (click)="addQuestion('scaled', 'star')">
        <span><fa-icon [icon]="icons.questionTypes.starRating"></fa-icon></span>
        &nbsp;
        <span>Star Rating</span>
    </div>

    <div class="question-list-question" id="add-slider-question" (click)="addQuestion('scaled', 'slider')">
        <span><fa-icon [icon]="icons.questionTypes.slider"></fa-icon></span>
        &nbsp;
        <span>Slider</span>
    </div>
    
    <div id="delete-questionnaire" (click)="delete()">
        <fa-icon [icon]="icons.delete"></fa-icon>&nbsp; Delete Questionnaire
    </div>
</aside>

<div *ngIf="!loading.user && !loading.questionnaire && !loading.questions" id="edit-questionnaire-page-center">
    <div *ngIf="data.questions.length == 0" id="no-questions">No Questions</div>
    <ng-container *ngFor="let question of data.questions">
        <app-question-open-editable   *ngIf="isQuestionType(question, 'open')"   [question]="question" [lastPosition]="data.questions.length" (refresh)="getQuestions()"></app-question-open-editable>
        <app-question-closed-editable *ngIf="isQuestionType(question, 'closed')" [question]="question" [lastPosition]="data.questions.length" (refresh)="getQuestions()"></app-question-closed-editable>
        <app-question-scaled-editable *ngIf="isQuestionType(question, 'scaled')" [question]="question" [lastPosition]="data.questions.length" (refresh)="getQuestions()"></app-question-scaled-editable>
    </ng-container>
</div>

<app-popup *ngIf="!loading.user && !loading.questionnaire && !loading.questions" [show]="showEditQuestionnairePopup" (close)="showEditQuestionnairePopup = false;">
    <app-create-questionnaire-form [questionnaire]="data.questionnaire" (onCreate)="getQuestionnaire()"></app-create-questionnaire-form>
</app-popup>

<app-popup *ngIf="!loading.user && !loading.questionnaire && !loading.questions" [show]="showSendQuestionnairePopup" (close)="showSendQuestionnairePopup = false;">
    <app-send-questionnaire [questionnaireId]="data.questionnaire.id"></app-send-questionnaire>
</app-popup>
