<div *ngIf="!inEditableForm" class="question">
    <div class="question-display">
        <div class="question-title">
            {{ question.isRequired ? "*" : "" }} {{ question.position }}. <span>{{ question.name }}</span>
        </div>

        <div *ngIf="question.type == 'drop_down'" class="app-input-container question-margin">
            <select class="app-input no-icon">
               <option *ngFor="let option of existingOptions">{{ option.option }}</option>
            </select>
        </div>

        <div *ngIf="question.type == 'check'" class="question-margin">
            <ng-container *ngFor="let option of existingOptions">
                <label class="app-radio-container">{{ option.option }}
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </ng-container>
        </div>

        <div *ngIf="question.type == 'radio'" class="question-margin">
            <ng-container *ngFor="let option of existingOptions">
                <label class="app-radio-container">{{ option.option }}
                    <input type="radio" name="radioOption">
                    <span class="radio"></span>
                </label>
            </ng-container>
        </div>
    </div>

    <div class="question-options">
        <button id="edit-question" class="button normal green large tall" (click)="inEditableForm = true;">
            <fa-icon [icon]="icons.edit"></fa-icon>&nbsp;Edit
        </button>
        <button id="duplicate-question" class="button normal green large tall" (click)="duplicateQuestion()">
            <fa-icon [icon]="icons.duplicate"></fa-icon>&nbsp;Duplicate
        </button>
        <button id="delete-question" class="button normal red large tall" (click)="deleteQuestion()">
            <fa-icon [icon]="icons.delete"></fa-icon>&nbsp;Delete
        </button>
    </div>
</div>

<div *ngIf="inEditableForm" class="question-editable">
    <div class="question-edit">
        <div class="app-input-container question-title">
            <label class="app-input-label-icon {{ questionName.invalid ? 'error' : ''}}">
                {{ question.position }}.
            </label>
            <input name="questionClosedName" class="app-input {{ questionName.invalid ? 'error' : ''}}" type="text" [formControl]="questionName">
        </div>

        <div class="question-options-options">
            <div *ngFor="let option of options; let i = index" class="question-option">
                <span class="delete-question-option" (click)="deleteOption(i)"><fa-icon [icon]="icons.deleteOption"></fa-icon></span>
                <input [name]="'option_' + (i + 1)" [value]="option.option" (change)="option.option = optionInput.value" #optionInput>
            </div>
            
            <div class="add-question-option" (click)="addOption()">
                <span><fa-icon [icon]="icons.addOption"></fa-icon></span>
                <span>Add Option</span>
            </div>
        </div>
    </div>

    <div class="question-options">
        <button class="button normal green medium" (click)="save()" [disabled]="this.questionName.invalid">
            <fa-icon [icon]="icons.save"></fa-icon>&nbsp;Save
        </button>
        <button class="button inverse red medium" (click)="cancel()">
            <fa-icon [icon]="icons.cancel"></fa-icon>&nbsp;Cancel
        </button>
        <div class="is-required">
            <span>Required: </span>
            <app-toggle-switch [state]="question.isRequired" (onChange)="isRequired = $event"></app-toggle-switch>
        </div>
    </div>
</div>

