@import "../../css/main";
@import "../../css/controls";

aside {
    left: 90px;
    position: absolute;
    top: 100px;
    
    #sort-filter {
        background: $white;
        box-shadow: 0 5px 5px $shadow-color;
        box-sizing: border-box;
        color: $text-dark;
        font-size: 20px;
        height: 195px;
        left: 90px;
        padding: 10px;
        top: 100px;
        width: 300px;
        
        #order-toggle {
            align-items: center;
            color: $text-dark;
            display: flex;
            font-size: 14px;
            margin-right: 10px;
            margin-top: -3px;
            position: absolute;
            right: 0;
        }
        
        & > div {
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        & > label {
            width: fit-content;
            margin-left: 1px;
        }
    }
    
    & > button {
        box-shadow: 0 5px 5px $shadow-color;
        height: 75px;
        font-size: 20px;
        margin-top: 30px;
        width: 300px;
    }
}


#dashboard-page-center {
    @include center;
    
    height: calc(100% - 70px);
    overflow: auto;
    padding-right: 10px;
    width: 910px;
    
    #no-questionnaires {
        color: $green;
        font-size: 70px;
        font-weight: bold;
        margin-top: 200px;
        text-align: center;
    }
}
