@import "../../../css/main";

#questionnaire-title {
    color: $white;
    font-size: 25px;
    font-weight: bold;
}

#questionnaire-center {
    @include center;
    
    height: calc(100% - 90px);
    width: 1010px;
    overflow: auto;
    padding: 0 10px 10px 0;
    
    & > button:last-of-type {
        float: right;
    }
}

#error {
    @include vertical-center(400px);

    display: flex;
    flex-direction: column;
    font-weight: bold;
    min-height: 400px;
    justify-content: space-evenly;
    text-align: center;
    width: 75%;

    & > div {
        color: $text-dark;
        font-size: 50px;
    }
}
