@import "../../../css/main";

#questionnaire-title {
    color: $white;
    font-size: 25px;
    font-weight: bold;
}

#questionnaire-center {
    @include center;
    
    height: calc(100% - 90px);
    width: 1010px;
    overflow: auto;
    padding: 0 10px 10px 0;
    
    & > button:last-of-type {
        float: right;
    }
}
