<app-loading *ngIf="loading.questionnaire && loading.questions"></app-loading>

<app-top-bar *ngIf="lockedError || accessError || expireError" [title]="'Questionnaire Maker'"></app-top-bar>

<app-top-bar *ngIf="!loading.questionnaire && !loading.questions && !preview && !lockedError && !accessError && !expireError">
    <div id="questionnaire-title" class="top-bar-center">
        {{ data.questionnaire.title }}
    </div>
    <div class="top-bar-right"></div>
</app-top-bar>

<app-top-bar *ngIf="!loading.questionnaire && !loading.questions && preview" [title]="'Preview'" [hasBackButton]="true"></app-top-bar>

<div *ngIf="!loading.questionnaire && !loading.questions && !lockedError && !accessError && !expireError" id="questionnaire-center">
    <ng-container *ngFor="let question of data.questions">
        <app-question-open-answerable   *ngIf="isQuestionType(question, 'open')"   [question]="question"></app-question-open-answerable>
        <app-question-closed-answerable *ngIf="isQuestionType(question, 'closed')" [question]="question" [options]="data.questionClosedOptions[question.id]"></app-question-closed-answerable>
        <app-question-scaled-answerable *ngIf="isQuestionType(question, 'scaled')" [question]="question"></app-question-scaled-answerable>
    </ng-container>
    
    <button *ngIf="preview" class="button normal green large" (click)="back()">Back</button>
    <button *ngIf="!preview" class="button normal green large" (click)="submit()">Submit</button>
    <button *ngIf="!preview" class="button normal  red  large" (click)="cancel()">Cancel</button>
</div>

<div *ngIf="lockedError || accessError || expireError" class="centre-box" id="error">
    <div *ngIf="lockedError">Sorry, this questionnaire has been locked, therefore it cannot be answered anymore.</div>
    <div *ngIf="accessError">Sorry, this questionnaire cannot be answered.</div>
    <div *ngIf="expireError">Sorry, this questionnaire has expired.</div>
</div>
