@import "../../css/main";
@import "../../css/controls";

#sign-up-page-center {
    @include vertical-center(635px - 70px);

    align-items: center;
    display: flex;
    height: 635px;
    text-align: center;
    min-width: 500px;
    width: calc(40%);
    
    #sign-up {
        @include center;
        
        height: fit-content;
        width: fit-content;
        
        & > .app-input-container {
            #password-matching-icon {
                @include vertical-center(25px);
                
                font-size: 20px;
                position: absolute;
                right: 10px;
                
                .match {
                    color: $green;
                }
                
                .no-match {
                    color: $red;
                }
            }
        }
    }
}
