@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Nunito");
::-webkit-scrollbar {
  background: #b6b6b6;
  border-radius: 10px;
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-corner {
  background: #FFF; }

::-webkit-scrollbar-thumb {
  background: #9F9F9F;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #888888; }

* {
  font-family: 'Nunito', sans-serif; }

a {
  color: #FFF;
  text-decoration: none; }

a.classic {
  color: #007FAA !important;
  cursor: pointer;
  text-decoration: underline !important; }

.centre-box {
  left: 0;
  margin: auto;
  right: 0;
  background: #FFF;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); }

.button {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  min-height: 40px;
  min-width: 100px;
  outline: none; }
  .button.large {
    height: 50px;
    width: 300px; }
  .button.inverse.green {
    background: none;
    border: 2px solid #16D36B;
    color: #16D36B; }
    .button.inverse.green > a {
      color: #16D36B; }
    .button.inverse.green:hover {
      border-color: #13BD60;
      color: #13BD60; }
  .button.inverse.yellow {
    background: none;
    border: 2px solid #E5D200;
    color: #E5D200; }
    .button.inverse.yellow > a {
      color: #E5D200; }
    .button.inverse.yellow:hover {
      border-color: #CEBD00;
      color: #CEBD00; }
  .button.inverse.white {
    background: none;
    border: 2px solid #FFF;
    color: #FFF; }
    .button.inverse.white:hover {
      border-color: #F2F2F2;
      color: #F2F2F2; }
  .button.inverse.red {
    background: none;
    border: 2px solid #D9534F;
    color: #D9534F; }
    .button.inverse.red > a {
      color: #D9534F; }
    .button.inverse.red:hover {
      border-color: #C34A47;
      color: #C34A47; }
  .button.normal.green {
    background: #16D36B;
    color: #FFF; }
    .button.normal.green:hover {
      background: #13BD60; }
  .button.normal.yellow {
    background: #E5D200;
    color: #FFF; }
    .button.normal.yellow:hover {
      background: #CEBD00; }
  .button.normal.white {
    background: #FFF;
    color: #16D36B; }
    .button.normal.white > a {
      color: #16D36B; }
    .button.normal.white:hover {
      background: #F2F2F2; }
  .button.normal.red {
    background: #D9534F;
    color: #FFF; }
    .button.normal.red:hover {
      background: #C34A47; }

.top-bar-title {
  font-size: 26px;
  font-style: italic;
  font-weight: bold; }

.top-bar-right {
  margin-right: 15px; }
  .top-bar-right > button:first-child {
    margin-right: 15px; }

.account-form-title {
  left: 0;
  margin: auto;
  right: 0;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  width: fit-content; }
  .account-form-title .bar {
    left: 0;
    margin: auto;
    right: 0;
    background: #16D36B;
    border-radius: 25px;
    height: 5px;
    width: 90px; }

.popup-form-title {
  left: 0;
  margin: auto;
  right: 0;
  color: #707070;
  font-size: 30px;
  font-weight: bold;
  height: 40px;
  padding-top: 15px;
  width: fit-content; }

::-webkit-scrollbar {
  background: #b6b6b6;
  border-radius: 10px;
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-corner {
  background: #FFF; }

::-webkit-scrollbar-thumb {
  background: #9F9F9F;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #888888; }

* {
  font-family: 'Nunito', sans-serif; }

a {
  color: #FFF;
  text-decoration: none; }

a.classic {
  color: #007FAA !important;
  cursor: pointer;
  text-decoration: underline !important; }

.centre-box {
  left: 0;
  margin: auto;
  right: 0;
  background: #FFF;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); }

.button {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  min-height: 40px;
  min-width: 100px;
  outline: none; }
  .button.large {
    height: 50px;
    width: 300px; }
  .button.inverse.green {
    background: none;
    border: 2px solid #16D36B;
    color: #16D36B; }
    .button.inverse.green > a {
      color: #16D36B; }
    .button.inverse.green:hover {
      border-color: #13BD60;
      color: #13BD60; }
  .button.inverse.yellow {
    background: none;
    border: 2px solid #E5D200;
    color: #E5D200; }
    .button.inverse.yellow > a {
      color: #E5D200; }
    .button.inverse.yellow:hover {
      border-color: #CEBD00;
      color: #CEBD00; }
  .button.inverse.white {
    background: none;
    border: 2px solid #FFF;
    color: #FFF; }
    .button.inverse.white:hover {
      border-color: #F2F2F2;
      color: #F2F2F2; }
  .button.inverse.red {
    background: none;
    border: 2px solid #D9534F;
    color: #D9534F; }
    .button.inverse.red > a {
      color: #D9534F; }
    .button.inverse.red:hover {
      border-color: #C34A47;
      color: #C34A47; }
  .button.normal.green {
    background: #16D36B;
    color: #FFF; }
    .button.normal.green:hover {
      background: #13BD60; }
  .button.normal.yellow {
    background: #E5D200;
    color: #FFF; }
    .button.normal.yellow:hover {
      background: #CEBD00; }
  .button.normal.white {
    background: #FFF;
    color: #16D36B; }
    .button.normal.white > a {
      color: #16D36B; }
    .button.normal.white:hover {
      background: #F2F2F2; }
  .button.normal.red {
    background: #D9534F;
    color: #FFF; }
    .button.normal.red:hover {
      background: #C34A47; }

.top-bar-title {
  font-size: 26px;
  font-style: italic;
  font-weight: bold; }

.top-bar-right {
  margin-right: 15px; }
  .top-bar-right > button:first-child {
    margin-right: 15px; }

.account-form-title {
  left: 0;
  margin: auto;
  right: 0;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  width: fit-content; }
  .account-form-title .bar {
    left: 0;
    margin: auto;
    right: 0;
    background: #16D36B;
    border-radius: 25px;
    height: 5px;
    width: 90px; }

.popup-form-title {
  left: 0;
  margin: auto;
  right: 0;
  color: #707070;
  font-size: 30px;
  font-weight: bold;
  height: 40px;
  padding-top: 15px;
  width: fit-content; }

.app-input-container {
  height: 50px;
  margin: 30px 0 30px 0;
  position: relative;
  width: 300px; }
  .app-input-container:first-child {
    margin-top: 0; }
  .app-input-container .app-input-label-icon {
    background: #16D36B;
    border-radius: 7px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding-top: 3px;
    position: absolute;
    text-align: center;
    width: 50px; }
    .app-input-container .app-input-label-icon.error {
      background: #D9534F; }
  .app-input-container .app-input {
    background: #E4E4E4;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 16px;
    height: 50px;
    padding-left: 55px;
    width: 300px; }
    .app-input-container .app-input:focus {
      outline: none; }

.app-input-error {
  color: #D9534F;
  font-size: 12px;
  margin: -15px 0 -15px 0;
  text-align: left; }
  .app-input-error:last-of-type {
    margin-bottom: 0; }

.app-textarea {
  background: #F2F2F2;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  height: 200px;
  padding: 10px;
  width: 630px; }
  .app-textarea:focus {
    outline: none; }

#sign-up-page-center {
  position: absolute;
  top: calc(50% - 282.5px);
  align-items: center;
  display: flex;
  height: 635px;
  text-align: center;
  min-width: 500px;
  width: calc(40%); }
  #sign-up-page-center #sign-up {
    left: 0;
    margin: auto;
    right: 0;
    height: fit-content;
    width: fit-content; }
    #sign-up-page-center #sign-up > .app-input-container #password-matching-icon {
      position: absolute;
      top: calc(50% - 12.5px);
      font-size: 20px;
      position: absolute;
      right: 10px; }
      #sign-up-page-center #sign-up > .app-input-container #password-matching-icon .match {
        color: #16D36B; }
      #sign-up-page-center #sign-up > .app-input-container #password-matching-icon .no-match {
        color: #D9534F; }

/*# sourceMappingURL=sign-up.component.css.map */
