<form class="account-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" #changePassword="ngForm">
    <div class="title">
        Change Password
        <div class="bar"></div>
    </div>
    <div class="form">
        <div>
            <div class="app-input-container">
                <label class="app-input-label-icon {{ currentPasswordInput.invalid && changePassword.submitted ? 'error' : ''}}">
                    <fa-icon [icon]="icons.password"></fa-icon>
                </label>
                <input
                    class="app-input {{ currentPasswordInput.invalid && changePassword.submitted ? 'error' : ''}}"
                    type="password"
                    name="currentPassword"
                    placeholder="Current Password"
                    formControlName="currentPassword"
                >
            </div>

            <div class="app-input-error" *ngIf="(currentPasswordInput.invalid && changePassword.submitted) || isServerError">
                <ul>
                    <li *ngIf="currentPasswordInput.hasError('required')">Current password is required</li>
                    <li *ngIf="isServerError">{{ serverErrorMessage }}</li>
                </ul>
            </div>
            
            <div class="app-input-container">
                <label class="app-input-label-icon {{ newPasswordInput.invalid && changePassword.submitted ? 'error' : ''}}">
                    <fa-icon [icon]="icons.password"></fa-icon>
                </label>
                <input
                    class="app-input {{ newPasswordInput.invalid && changePassword.submitted ? 'error' : ''}}"
                    type="password"
                    name="newPassword"
                    placeholder="New Password"
                    formControlName="newPassword"
                >
            </div>

            <div class="app-input-error" *ngIf="newPasswordInput.invalid && changePassword.submitted">
                <ul>
                    <li *ngIf="newPasswordInput.hasError('required')">New password is required</li>
                </ul>
            </div>

            <div class="app-input-container">
                <label class="app-input-label-icon {{ confirmPasswordInput.invalid && changePassword.submitted ? 'error' : ''}}">
                    <fa-icon [icon]="icons.password"></fa-icon>
                </label>
                <input
                    class="app-input {{ confirmPasswordInput.invalid && changePassword.submitted ? 'error' : ''}}"
                    type="password"
                    name="confirmPassword"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                >
            </div>

            <div class="app-input-error" *ngIf="(confirmPasswordInput.invalid && changePassword.submitted) || passwordMatchingError">
                <ul>
                    <li *ngIf="confirmPasswordInput.hasError('required')">Confirm password is required</li>
                    <li *ngIf="passwordMatchingError">Passwords do not match</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="button normal green medium">Change Password</button>
        <button class="button normal red medium" (click)="cancel.emit()">Cancel</button>
    </div>
</form>
